body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.section {
  padding: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 60rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-item {
  flex-grow: 1;
  flex-basis: calc(100%/6 - 0.5rem);
  margin: 0.25rem;
}

.card {
  background: #555;
  width: 100%;
}

.card:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
